{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% if collector.interactions|length %}
        {% set icon %}
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73 80"><defs><style>.cls-1{fill:#fff;fill-rule:evenodd;}</style></defs><title>Elasticsearch</title><path class="cls-1" d="M8,40a32,32,0,0,0,1.05,8H48a8,8,0,0,0,8-8h0a8,8,0,0,0-8-8H9.09A32,32,0,0,0,8,40Z"/><path class="cls-1" d="M61.89,23.32A29.59,29.59,0,0,0,65,20a31.92,31.92,0,0,0-53.67,6H55.06A10.07,10.07,0,0,0,61.89,23.32Z"/><path class="cls-1" d="M55.06,54H11.33A31.92,31.92,0,0,0,65,60a29.59,29.59,0,0,0-3.11-3.32A10.07,10.07,0,0,0,55.06,54Z"/></svg>
            <span class="sf-toolbar-value">{{ collector.interactions|length }}</span>
        {% endset %}
        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>Total interactions</b>
                <span>{{ collector.interactions|length }}</span>
            </div>
        {% endset %}
        {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
    {% endif %}
{% endblock toolbar %}

{% block menu %}
    <span class="label">
        <span class="icon">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73 80"><defs><style>.cls-1{fill:#fff;fill-rule:evenodd;}</style></defs><title>Elasticsearch</title><path class="cls-1" d="M8,40a32,32,0,0,0,1.05,8H48a8,8,0,0,0,8-8h0a8,8,0,0,0-8-8H9.09A32,32,0,0,0,8,40Z"/><path class="cls-1" d="M61.89,23.32A29.59,29.59,0,0,0,65,20a31.92,31.92,0,0,0-53.67,6H55.06A10.07,10.07,0,0,0,61.89,23.32Z"/><path class="cls-1" d="M55.06,54H11.33A31.92,31.92,0,0,0,65,60a29.59,29.59,0,0,0-3.11-3.32A10.07,10.07,0,0,0,55.06,54Z"/></svg>
        </span>
        <strong>Elasticsearch</strong>
        <span class="count">
            <span>{{ collector.interactions|length }}</span>
        </span>
    </span>
{% endblock menu %}

{% block panel %}
    <h2>Elasticsearch trace output</h2>
    <p>Total interactions: {{ collector.interactions|length }}</p>
    {% for index, interaction in collector.interactions %}
        <h2>Interaction {{ index+1 }}</h2>
        <h3>Request payload</h3>
        {{ dump(interaction.request) }}
        <h3>Response payload</h3>
        {{ dump(interaction.response) }}
        <h4>URI</h4>
        <span>{{ interaction.uri }}</span>
        <div class="metrics">
            <div class="metric">
                <span class="label">HTTP method</span>
                <span class="value">{{ interaction.http_method }}</span>
            </div>
            <div class="metric">
                <span class="label">Status code</span>
                <span class="value">{{ interaction.status_code }}</span>
            </div>
            <div class="metric">
                <span class="label">Received in</span>
                <span class="value">{{ "%u"|format(interaction.duration_in_ms) }} <span class="unit">ms</span></span>
            </div>
        </div>
    {% endfor %}
{% endblock panel %}
